<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Admin Study Notes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllUniversityInformation">
        <activity
            android:name=".mcq.QuestionAddActivity"
            android:exported="false" />

        <activity
            android:name=".adsNotifi.AdsNotifiActivity"
            android:exported="false" />
        <activity
            android:name=".book.BookPostActivity"
            android:exported="false" />
        <activity
            android:name=".book.BookCategoryActivity"
            android:exported="false" />

        <service
            android:name=".university.UniversityActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".post.MainPostActivity"
            android:exported="false" />
        <activity
            android:name=".country.MainActivity"
            android:exported="false" />
        <activity
            android:name=".post.PostDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".university.UniversityActivity"
            android:exported="false" />
        <activity
            android:name=".country.FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>